body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f1f5f9;
}

/* Full Page Center */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  #334155;
;

}

/* Login Card Box */
.login-card {
  width: 420px;
  background: #ffffff;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
  border: 2px solid #e2e8f0;

}

/* Header Logo */
.login-header {
  text-align: center;
  margin-bottom: 20px;

}



/* .login-title {
  font-size: 22px;
   
  margin: 0;
  text-align: center;
  color: #1e293b;
}

.login-subtitle {
  font-size: 14px;
  color: #475569;
  margin: 0;
} */

/* Welcome Text */
.login-heading {
  font-size: 32px;
  /* font-weight: bold; */
  margin-bottom: 5px;
  text-align: center;
  color: #1e293b;
}

.oms{
  background: #1e293b;
  color: #ffffff;
text-align: center;
/* font-weight: bold;; */
}

.login-text {
  font-size: 14px;
  color: #475569;
  margin-bottom: 25px;
    text-align: center;

}

/* Labels */
.login-label {
  font-size: 14px;
  
  margin: 12px 0 6px;
  display: block;
  color: #475569;
}

/* Input Box with Icon */
.login-input-box {
  display: flex;
  align-items: center;
  background: #f2f4ff;
  padding: 12px;
  border-radius: 10px;
  color: #475569;
  border: 2px solid #cbd5e1

}

.login-input-box i {
  margin-right: 10px;
  color: gray;
}

.login-input-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  background: transparent;
}




/* Button */
.login-btn {
  width: 100%;
  padding: 14px;
  margin-top: 25px;
  border: none;
  border-radius: 12px;
  background: #334155;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  opacity: 0.9;
  background: #1e293b;
}




